NEXT_PUBLIC_SITE_URL=your_production_url
NEXT_PUBLIC_CONTACT_EMAIL=petter2025us@outlook.com
NEXT_PUBLIC_GA_ID=your_google_analytics_id
NEXT_PUBLIC_LINKEDIN_URL=your_linkedin_url
NEXT_PUBLIC_GITHUB_URL=your_github_url
NEXT_PUBLIC_HF_URL=your_huggingface_url
